In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
!ls ../homework

AMZN.csv
BABA.csv
Pokemon.csv
apply_demo.csv
city_weather.csv
demo_duplicate.csv
iris.csv
movie_metadata.csv
new_movie.csv
sales-funnel.xlsx
top5.csv
train.csv
usa_flights.csv

In [11]:
df = pd.read_csv('../homework/demo_duplicate.csv')
df.head()

   Unnamed: 0   Price  Seqno Symbol        time
0           0  1623.0    0.0   APPL  1473411962
1           1  1623.0    0.0   APPL  1473411962
2           2  1623.0    0.0   APPL  1473411963
3           3  1623.0    0.0   APPL  1473411963
4           4  1649.0    1.0   APPL  1473411963

In [12]:
del df['Unnamed: 0']
df.head()

    Price  Seqno Symbol        time
0  1623.0    0.0   APPL  1473411962
1  1623.0    0.0   APPL  1473411962
2  1623.0    0.0   APPL  1473411963
3  1623.0    0.0   APPL  1473411963
4  1649.0    1.0   APPL  1473411963

可以看到有重复值，比如第0,1行就一模一样。

In [13]:
df.size

15956

元素的个数

In [15]:
len(df)

3989

一共有3989行

In [20]:
len(df['Seqno'].unique())

1000

可以看到Seqno列一共有1000个不同的数据

In [21]:
df.head(10)

    Price  Seqno Symbol        time
0  1623.0    0.0   APPL  1473411962
1  1623.0    0.0   APPL  1473411962
2  1623.0    0.0   APPL  1473411963
3  1623.0    0.0   APPL  1473411963
4  1649.0    1.0   APPL  1473411963
5  1649.0    1.0   APPL  1473411963
6  1649.0    1.0   APPL  1473411964
7  1649.0    1.0   APPL  1473411964
8  1642.0    2.0   APPL  1473411964
9  1642.0    2.0   APPL  1473411964

通过duplicated方法查看:

>按照index，每一行的数据是否是duplicated。

- 第一个0.0第一次出现是唯一的，后面的1,2,3都是重复的了。

In [23]:
df['Seqno'].duplicated().head()

0    False
1     True
2     True
3     True
4    False
Name: Seqno, dtype: bool

#### 如何去除重复

drop_duplicates: 

>不指定列的时候: 只有两行完全一样才会去除。

- 指定列的时候，两行这一列相同就会被drop掉一个，只保留首先出现的。
- keep参数默认为first，是指保留最先出现的，可以修改为last保留最后出现的。

In [26]:
df.drop_duplicates(['Seqno'],keep='last').head()

     Price  Seqno Symbol        time
3   1623.0    0.0   APPL  1473411963
7   1649.0    1.0   APPL  1473411964
11  1642.0    2.0   APPL  1473411965
15  1636.0    3.0   APPL  1473411966
19  1669.0    4.0   APPL  1473411967

In [27]:
df.head()

    Price  Seqno Symbol        time
0  1623.0    0.0   APPL  1473411962
1  1623.0    0.0   APPL  1473411962
2  1623.0    0.0   APPL  1473411963
3  1623.0    0.0   APPL  1473411963
4  1649.0    1.0   APPL  1473411963