In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

相同品种的苹果会根据大小卖不同的价格

>使用水果分级尺，判定苹果属于多大的。然后分到不同的箱子

例子: 考试分数分人群

In [2]:
score_list = np.random.randint(25, 100, size=20)

In [3]:
score_list

array([31, 66, 28, 78, 90, 50, 80, 38, 43, 51, 40, 39, 79, 94, 33, 27, 97,
       49, 27, 73])

划分分数段，即分区间，分箱。

In [4]:
bins = [0,59,70,80,100]

In [5]:
score_cat = pd.cut(score_list, bins)
score_cat

[(0, 59], (59, 70], (0, 59], (70, 80], (80, 100], ..., (0, 59], (80, 100], (0, 59], (0, 59], (70, 80]]
Length: 20
Categories (4, interval[int64]): [(0, 59] < (59, 70] < (70, 80] < (80, 100]]

```
 pd.cut(x, bins, right=True, labels=None, retbins=False, precision=3, include_lowest=False)
```

传入要分割的数据，以及它的bins

In [6]:
pd.value_counts(score_cat)

(0, 59]      12
(70, 80]      4
(80, 100]     3
(59, 70]      1
dtype: int64

value_counts对于值进行计数

In [7]:
df = DataFrame()

In [8]:
df['score'] = score_list
df.head()

   score
0     31
1     66
2     28
3     78
4     90

In [9]:
df['student'] = [pd.util.testing.rands(3) for i in range(20)]

pd.util.testing.rands可以生成随机的字符串

In [10]:
df['Categories'] = pd.cut(df['score'],bins, labels=['Low','OK','Good','Great'])

将本来分出来的区间。添加labels值。对应我们定义的区间

In [11]:
df

    score student Categories
0      31     Fdh        Low
1      66     FeS         OK
2      28     P3S        Low
3      78     qSl       Good
4      90     1k7      Great
5      50     QVi        Low
6      80     8pY       Good
7      38     sgL        Low
8      43     wnr        Low
9      51     QXC        Low
10     40     MDe        Low
11     39     M84        Low
12     79     Y1J       Good
13     94     V95      Great
14     33     Y8f        Low
15     27     sr4        Low
16     97     n9X      Great
17     49     Sb1        Low
18     27     Cha        Low
19     73     UK4       Good