In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

### series的排序

In [2]:
s1 = Series(np.random.randn(10))
s1

## 一个长度为10的随机的series

0    0.020631
1   -0.234714
2    0.679499
3   -0.808561
4   -0.842690
5   -0.748893
6    1.340362
7   -0.288394
8    0.398657
9    0.611985
dtype: float64

series由两部分组成，一部分是它的value，一部分是它的index

In [3]:
s1.values

array([ 0.02063115, -0.23471363,  0.67949852, -0.80856062, -0.84268971,
       -0.74889266,  1.34036224, -0.28839405,  0.39865659,  0.61198501])

In [4]:
s1.index

RangeIndex(start=0, stop=10, step=1)

因此此时对于series的排序方式也就有两种。

- 一种是按照index来排序。
- 一种是按照values来排序

```
s1.sort_values(axis=0, ascending=True, inplace=False, kind='quicksort', na_position='last')
```

- ascending参数控制升序排序还是降序

In [5]:
s2 = s1.sort_values()
s2

4   -0.842690
3   -0.808561
5   -0.748893
7   -0.288394
1   -0.234714
0    0.020631
8    0.398657
9    0.611985
2    0.679499
6    1.340362
dtype: float64

In [6]:
s3 = s2.sort_index()
s3

0    0.020631
1   -0.234714
2    0.679499
3   -0.808561
4   -0.842690
5   -0.748893
6    1.340362
7   -0.288394
8    0.398657
9    0.611985
dtype: float64

### 对于dataframe的排序

In [7]:
df1 = DataFrame(np.random.randn(40).reshape(8,5), columns=['A','B','C','D','E'])
df1

          A         B         C         D         E
0 -0.182028 -1.269134  0.176170 -0.310141  0.143061
1 -1.902837 -0.096436  0.501068 -0.502357 -0.468252
2  0.191466  0.776027  0.248983 -0.346571 -0.723798
3 -1.024431  0.845394  0.451431  0.248405 -1.402417
4  0.186352 -0.591908 -1.847516 -0.584991  0.486724
5 -0.350153  0.085571  0.944263  0.858381 -0.365396
6 -2.574432  0.256392  0.359265 -1.387980 -1.770121
7  0.214277  1.144565 -0.405736  0.183696 -1.525786

dataframe有columns有index，对一个dataframe进行排序。

- 按照一个columns做排序。多个columns，需要指定其中一个。

In [8]:
df1['A'].sort_values()

6   -2.574432
1   -1.902837
3   -1.024431
5   -0.350153
0   -0.182028
4    0.186352
2    0.191466
7    0.214277
Name: A, dtype: float64

返回了一个series，这不是我们想要的。

我们想要的是联动的以a这一列为标准返回一个dataframe

In [9]:
df2 = df1.sort_values('A',ascending=False)
df2

          A         B         C         D         E
7  0.214277  1.144565 -0.405736  0.183696 -1.525786
2  0.191466  0.776027  0.248983 -0.346571 -0.723798
4  0.186352 -0.591908 -1.847516 -0.584991  0.486724
0 -0.182028 -1.269134  0.176170 -0.310141  0.143061
5 -0.350153  0.085571  0.944263  0.858381 -0.365396
3 -1.024431  0.845394  0.451431  0.248405 -1.402417
1 -1.902837 -0.096436  0.501068 -0.502357 -0.468252
6 -2.574432  0.256392  0.359265 -1.387980 -1.770121

In [10]:
df2.sort_index()

          A         B         C         D         E
0 -0.182028 -1.269134  0.176170 -0.310141  0.143061
1 -1.902837 -0.096436  0.501068 -0.502357 -0.468252
2  0.191466  0.776027  0.248983 -0.346571 -0.723798
3 -1.024431  0.845394  0.451431  0.248405 -1.402417
4  0.186352 -0.591908 -1.847516 -0.584991  0.486724
5 -0.350153  0.085571  0.944263  0.858381 -0.365396
6 -2.574432  0.256392  0.359265 -1.387980 -1.770121
7  0.214277  1.144565 -0.405736  0.183696 -1.525786

#### 课后作业

- 输入是一个csv文件: movie_meta.csv
- 输出是一个新的csv文件。只要四列 index imdb_score director_name movie_title

>要求只用一行代码实现

In [11]:
new_csv= pd.read_csv('./DataSource/movie_metadata.csv')[['director_name','imdb_score','movie_title']].sort_values('imdb_score',ascending=False).to_csv('./DataSource/new_movie.csv')