In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

要想进行merge合并操作，至少得先有两个dataframe才行。

In [2]:
df1 = DataFrame({'key':['X','Y','Z'], 'data_set_1':[1,2,3]})
df1

   data_set_1 key
0           1   X
1           2   Y
2           3   Z

In [3]:
df2 = DataFrame({'key':['A','B','C'], 'data_set_2':[4,5,6]})
df2

   data_set_2 key
0           4   A
1           5   B
2           6   C

In [4]:
pd.merge(df1,df2)

Empty DataFrame
Columns: [data_set_1, key, data_set_2]
Index: []

默认的merge会去找(colums,value)相同的进行merge。

- 而我们的这里面没有一个相同的。

In [5]:
df3 = DataFrame({'key':['A','B','D'], 'data_set_3':[4,5,6]})
df3

   data_set_3 key
0           4   A
1           5   B
2           6   D

In [6]:
pd.merge(df2,df3)

   data_set_2 key  data_set_3
0           4   A           4
1           5   B           5

将(key,A)这个两者都有的对进行了合并，将(key,b)这个两者都有的对进行了合并

>前提是有相同名称的columns，将columns中值相同的拿出来作为桥梁合并

```
pd.merge(left, right, how='inner', on=None, left_on=None, right_on=None, left_index=False, right_index=False, sort=False, suffixes=('_x', '_y'), copy=True, indicator=False)
```

- 参数on 是选定以哪几个相同列进行连接。默认是全选这些相同的。
- how： 有好几种方式，左连接，右连接，外连接，内连接。(数据库课上学过)

In [7]:
pd.merge(df2,df3,on='key',how='left')

   data_set_2 key  data_set_3
0           4   A         4.0
1           5   B         5.0
2           6   C         NaN

In [8]:
pd.merge(df2,df3,on='key',how='right')

   data_set_2 key  data_set_3
0         4.0   A           4
1         5.0   B           5
2         NaN   D           6

In [9]:
pd.merge(df2,df3,on='key',how='outer')

   data_set_2 key  data_set_3
0         4.0   A         4.0
1         5.0   B         5.0
2         6.0   C         NaN
3         NaN   D         6.0

- inner是两者都有的，也就是有桥梁可以连接起来的才保留。
- outer是将能合并的合并，不能合并的两者的保留，值填nan
- left以左边的全部为基准，右边找不到对应的，填nan
- right以右边的全部为基准，左边找不到对应值的，填nan