In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

## 如何创建一个pandas的dataframe

### 酷方法: 通过一个剪切板创建

In [2]:
import webbrowser
link = 'https://www.tiobe.com/tiobe-index/'
webbrowser.open(link)

True

在网页上copy编程排行榜前10名。

In [8]:
df = pd.read_clipboard()

In [9]:
df

,Jan,2018,Jan.1,2017,Change,Programming,Language,Ratings,Change.1
0,1,1,Java,14.215%,-3.06%,NaN,NaN,NaN,NaN
1,2,2,C,11.037%,+1.69%,NaN,NaN,NaN,NaN
2,3,3,C++,5.603%,-0.70%,NaN,NaN,NaN,NaN
3,4,5,change,Python,4.678%,+1.21%,NaN,NaN,NaN
4,5,4,change,C#,3.754%,-0.29%,NaN,NaN,NaN
5,6,7,change,JavaScript,3.465%,+0.62%,NaN,NaN,NaN
6,7,6,change,Visual,Basic,.NET,3.261%,+0.30%,NaN
7,8,16,change,R,2.549%,+0.76%,NaN,NaN,NaN
8,9,10,change,PHP,2.532%,-0.03%,NaN,NaN,NaN
9,10,8,change,Perl,2.419%,NaN,NaN,NaN,NaN

In [10]:
type(df)

pandas.core.frame.DataFrame

### 对于dataframe的简单操作

columns返回有哪些列

In [11]:
df.columns

Index(['Jan', '2018', 'Jan.1', '2017', 'Change', 'Programming', 'Language',
       'Ratings', 'Change.1'],
      dtype='object')

获取某一列的数据

In [12]:
df.Ratings

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
5       NaN
6    +0.30%
7       NaN
8       NaN
9       NaN
Name: Ratings, dtype: object

从现在的dataframe中只取出我们所关心的列,生成新的dataframe

columns参数中指定我们需要的列名

In [13]:
df_new = DataFrame(df, columns=['Jan 2018','Programming Language'])

In [14]:
df_new

   Jan 2018  Programming Language
0       NaN                   NaN
1       NaN                   NaN
2       NaN                   NaN
3       NaN                   NaN
4       NaN                   NaN
5       NaN                   NaN
6       NaN                   NaN
7       NaN                   NaN
8       NaN                   NaN
9       NaN                   NaN

如果名字中包含空格，没法直接`.`进行选取

In [15]:
df['Jan 2018']

KeyError: 'Jan 2018'

如果我们只取dataframe中的某一列，我们将得到的是一个Series

In [16]:
type(df['Jan 2018'])

KeyError: 'Jan 2018'

如果我们所选取的columns在原始的columns中并不存在

会帮我们加上这个列名，但是值全部是NaN

In [17]:
df_new = DataFrame(df, columns=['Jan 2018','Programming Language','Sep 2018'])

In [18]:
df_new

   Jan 2018  Programming Language  Sep 2018
0       NaN                   NaN       NaN
1       NaN                   NaN       NaN
2       NaN                   NaN       NaN
3       NaN                   NaN       NaN
4       NaN                   NaN       NaN
5       NaN                   NaN       NaN
6       NaN                   NaN       NaN
7       NaN                   NaN       NaN
8       NaN                   NaN       NaN
9       NaN                   NaN       NaN

### 如何给新增加的column去赋值

In [19]:
df_new['Sep 2018'] = range(0,10)

In [20]:
df_new

   Jan 2018  Programming Language  Sep 2018
0       NaN                   NaN         0
1       NaN                   NaN         1
2       NaN                   NaN         2
3       NaN                   NaN         3
4       NaN                   NaN         4
5       NaN                   NaN         5
6       NaN                   NaN         6
7       NaN                   NaN         7
8       NaN                   NaN         8
9       NaN                   NaN         9

In [21]:
df_new['Sep 2018'] = np.arange(0,10)

In [22]:
df_new

   Jan 2018  Programming Language  Sep 2018
0       NaN                   NaN         0
1       NaN                   NaN         1
2       NaN                   NaN         2
3       NaN                   NaN         3
4       NaN                   NaN         4
5       NaN                   NaN         5
6       NaN                   NaN         6
7       NaN                   NaN         7
8       NaN                   NaN         8
9       NaN                   NaN         9

对于dataframe选取某一列之后是一个Series，所以我们可以选取Series的赋值方法

In [23]:
df_new['Sep 2018'] = pd.Series(np.arange(0,10))

In [24]:
df_new

   Jan 2018  Programming Language  Sep 2018
0       NaN                   NaN         0
1       NaN                   NaN         1
2       NaN                   NaN         2
3       NaN                   NaN         3
4       NaN                   NaN         4
5       NaN                   NaN         5
6       NaN                   NaN         6
7       NaN                   NaN         7
8       NaN                   NaN         8
9       NaN                   NaN         9

#### 只想改其中一部分值

In [25]:
df_new['Sep 2018'] = pd.Series([100, 200], index=[1,2])

In [26]:
df_new

   Jan 2018  Programming Language  Sep 2018
0       NaN                   NaN       NaN
1       NaN                   NaN     100.0
2       NaN                   NaN     200.0
3       NaN                   NaN       NaN
4       NaN                   NaN       NaN
5       NaN                   NaN       NaN
6       NaN                   NaN       NaN
7       NaN                   NaN       NaN
8       NaN                   NaN       NaN
9       NaN                   NaN       NaN